[mysqld]
# ─── Logs activés pour le db_agent ────────────────────────────────────────────
general_log         = 1
general_log_file    = /var/log/mysql/general_query.log

slow_query_log      = 1
slow_query_log_file = /var/log/mysql/slow_query.log
long_query_time     = 2

# ─── Performances de base ─────────────────────────────────────────────────────
innodb_buffer_pool_size = 256M
max_connections         = 200
character-set-server    = utf8mb4
collation-server        = utf8mb4_unicode_ci
